@model Festival.Web.Areas.Guest.ViewModels.Attendee.NewAttendeeVM
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Guest/Views/Shared/_UserLayout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/Inputmask-5.x/dist/jquery.inputmask.js"></script>
<style>
    .page-header {
        display: none;
    }
    .text-danger{
        color:rgba(0, 0, 0, 0.64) !important;
    }
</style>

<div class="main-content">
    <div class="form-wrapper">
        <section id="contact">
            <div class="container">
                <div class="row wow fadeInDown animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                    <div class="col-md-8 col-sm-7 contact-form">

                        <div class="title-header">
                            <h3 class="title-medium pull-left">Register</h3>
                            <div class="icon pull-right"><i class="icon-globe"></i></div>
                        </div>

                        <form asp-controller="Attendee" asp-action="SaveNew" asp-area="Guest" method="post" asp>
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="newLabel" for="FirstName">First name</label>
                                    <div>
                                        <input asp-for="FirstName" class="input" />
                                    </div>
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>

                                <div class="col-md-5">
                                    <label class="newLabel" for="LastName">Last name</label>
                                    <div>
                                        <input asp-for="LastName" class="input" />
                                    </div>
                                    <span asp-validation-for="LastName" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <label class="newLabel" for="Email">Email</label>
                                    <div>
                                        <input asp-for="Email" class="input" id="email" />
                                    </div>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7">
                                    <label class="newLabel" for="PhoneNumber">Phone number</label>
                                    <div>
                                        <input asp-for="PhoneNumber" class="input" />
                                    </div>
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <br /><br />

                            <div class="row">
                                <div class="col-md-7">
                                    <label class="newLabel" for="Username">Username</label>
                                    <div>
                                        <input asp-for="Username" class="input" />
                                    </div>
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7">
                                    <label class="newLabel" for="Password">Password</label>
                                    <div>
                                        <input asp-for="Password" type="password" class="input" />
                                    </div>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="col-md-7">
                                    <label class="newLabel" for="ConfirmPassword">Confirm password</label>
                                    <div>
                                        <input asp-for="ConfirmPassword" type="password" class="input" />
                                    </div>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="col-md-7">
                                    <input type="submit" value="Register"  class="btn btn-common submitButton" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

@*<script>
        $(function ($) {
            $("#email").inputmask({
                mask: "*{1,20}[.*{1,20}][.*{1,20}][.*{1,20}]@@*{1,20}[.*{2,6}][.*{1,2}]",
                greedy: false,
                onBeforePaste: function (pastedValue, opts) {
                    pastedValue = pastedValue.toLowerCase();
                    return pastedValue.replace("mailto:", "");
                },
                definitions: {
                    '*': {
                        validator: "[0-9A-Za-z!#$%&'*+/=?^_`{|}~\-]",
                        casing: "lower"
                    }
                }
            });
        })
    </script>*@
