@using Festival.Web.Areas.Guest.ViewModels.Stage
@model StageDetailsVM
@*@{
        ViewData["Title"] = "Details";
        Layout = "~/Areas/Guest/Views/Shared/_UserLayout.cshtml";
    }*@
<style>
    .popupContent {
        width: 100%;
        padding: 20px !important;
    }

    .single-member {
        margin: 0 !important;
    }

    #close {
        color: #e91e63;
        opacity: 1;
        position: relative;
        right: 10px;
    }
    #team{
        padding-top:5% !important;
    }
     .team-img {
        width: 60% !important;
    }

    .team-desc {
        width: 40% !important;
    }

</style>

<section id="team">
    <div class="container position-relative popupContent">
        <div class="row">
            <div class="col-md-12 ">
                <button type="button" class="close" data-dismiss="modal" id="close">&times;</button>
                <div class="single-member wow animated" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">

                    <div class="team-desc" style="position:relative">
                        <h3>@Model.Name</h3>
                        <p>Sponsored by: @Model.SponsorName </p>
                        <img class="sponsor-logo-icon" src="~/images/sponsors/@Model.SponsorImage" alt="">

                    </div>
                    <div class="team-img right">

                        <img src="~/images/stages/@Model.Image" alt="">
                        <div class="social-icon">
                            <h3>Capacity: @Model.Capacity</h3>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>