@model FestivalWebApplication.ViewModels.TransferService.NewTransferServiceVM;
@{
    ViewData["Title"] = "New";
}

<form asp-action="SaveNew" enctype="multipart/form-data" method="post">
    <fieldset>
        <legend class="w-auto">Transfer Service</legend>
        <input style="display: none" asp-for="Id" />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Date">Vehicle name</label>
            <div class="col-sm-5">
                <input asp-for="Date" class="form-control" />
            </div>
        </div>

        @*<div class="form-group row">
            <label class="col-sm-2 col-form-label" for="AvailableSeats"></label>
            <div class="col-sm-2">
                <input asp-for="AvailableSeats" class="form-control" />
            </div>
        </div>*@
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Vehicle">Transfer vehicle</label>
            <div class="col-sm-5">
                <select asp-for="VehicleId" asp-items="Model.Vehicles" class="form-control">
                    <option disabled>(Pick vehicle)</option>
                </select>
            </div>
        </div>
    </fieldset>



    <input type="submit" value="Add new service" class="btn btn-lg btn-secondary" />

</form>
