@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Anes is a pothead</h1>

        <h3>Lista za <a href="/Performance/">Performance</a>.</h3>
        <h3>Lista za <a href="/Performer">Performer</a>.</h3>
        <h3>Lista za <a href="/ShopItem">Shop Item</a>.</h3>
        <h3>Lista za <a href="/Sponsor">Sponsor</a>.</h3>
        <h3>Lista za <a href="/Stage">Stage</a>.</h3>
        <h3>Lista za <a href="/TicketType">Ticket Type</a>.</h3>
        <h3>Lista za <a href="/TransferService">Transfer Service</a>.</h3>
        <h3>Lista za <a href="/TransferVehicle">Transfer Vehicle</a>.</h3>

    </div>
