<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Impression | Bootstrap HTML5 Conference and Event Template</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="~/userPanel/assets/css/bootstrap.min.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="~/userPanel/assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="~/userPanel/assets/css/responsive.css">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="~/userPanel/assets/fonts/font-awesome.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="~/userPanel/assets/fonts/simple-line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="~/userPanel/assets/css/slicknav.css">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="~/userPanel/assets/css/nivo-lightbox.css">
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="~/userPanel/assets/css/animate.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" type="text/css" href="~/userPanel/assets/css/owl.carousel.css">

</head>
<body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">

        <!-- Nav Menu Section Start -->
        <div class="navigation-menu">
            <nav class="navbar navbar-default navbar-event" role="navigation" data-spy="affix" data-offset-top="20">
                <div class="container">
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a asp-controller="Home" asp-action="UserIndex">Home</a></li>
                            <li><a asp-controller="Performance" asp-action="GroupedList">Line up</a></li>
                            <li class="active dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pages <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="active"><a href="about.html">About Us</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="pricing.html">Pricing Table</a></li>
                                    <li><a href="sponsors.html">Sponsors</a></li>
                                    <li><a href="single-post.html">Single Post</a></li>
                                </ul>
                            </li>
                            <li><a href="schedule.html">Schedule</a></li>
                            <li><a href="speakers.html">Speakers</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li class="animated bounceIn"><a href="pricing.html">Buy Tickets</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div><!-- /navbar-collapse -->
                </div><!-- /container -->

            </nav>
        </div>
        <!-- Nav Menu Section End -->

    </header>
    <!-- Header Area wrapper End -->
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="page-header-inner">
                <h1 class="page-title wow fadeInRight" data-wow-delay="300ms">
                    @ViewData["Title"]
                </h1>
            </div>
        </div>
    </div>
    <!-- Page Header End-->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Call to action Section End -->
    <!-- Footer Section Start -->
    <footer class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h3><img src="assets/img/footer-logo.png" alt=""></h3>
                    <p>
                        If you think you have the passion,
                        attitude and capability to join us
                        the next big software company
                        s so that we can get the convers.
                    </p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h3>Support</h3>
                    <ul>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Docs</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h3>Learn More</h3>
                    <ul>
                        <li><a href="#">How it Works</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Log In</a></li>
                        <li><a href="#">Sign Up</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h3>Quick Link</h3>
                    <ul>
                        <li><a href="#">Schedule</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Pricing</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <section id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="copyright-text text-center">
                        @@Festival team
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Go to Top Link -->
    <a href="#header-wrap" class="back-to-top">
        <i class="icon-arrow-up"></i>
    </a>



    <!-- jQuery Load -->
    <script src="~/userPanel/assets/js/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/userPanel/assets/js/bootstrap.min.js"></script>
    <!-- Countdown Js -->
    <script src="~/userPanel/assets/js/jquery.countdown.min.js"></script>
    <!-- Smooth scroll JS -->
    <script src="~/userPanel/assets/js/smooth-scroll.js"></script>
    <!-- Wow Scroll -->
    <script src="~/userPanel/assets/js/wow.js"></script>
    <!-- Owl carousel -->
    <script src="~/userPanel/assets/js/owl.carousel.min.js"></script>
    <!-- Slicknav js -->
    <script src="~/userPanel/assets/js/jquery.slicknav.js"></script>
    <!--  Nivo lightbox Js -->
    <script src="~/userPanel/assets/js/nivo-lightbox.js"></script>
    <!-- Contact Form Scripts -->
    <script src="~/userPanel/assets/js/form-validator.min.js"></script>
    <script src="~/userPanel/assets/js/contact-form-script.js"></script>

    <!-- All Js plugin -->
    <script src="~/userPanel/assets/js/main.js"></script>
    <!-- Map JS -->
    <script type="text/javascript" src="~/userPanel/assets/js/jquery.mapit.min.js"></script>
    <script src="~/userPanel/assets/js/initializers.js"></script>

</body>
</html>