@model FestivalWebApplication.ViewModels.Performer.NewPerformerVM;
@{
    ViewData["Title"] = "New";
}

<form action="SaveNew" enctype="multipart/form-data" method="post">
    
    <fieldset>
        <legend class="w-auto">Performer</legend>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Name">Name</label>
            <div class="col-sm-5">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Fee">Fee</label>
            <div class="col-sm-2">
                <input asp-for="Fee" class="form-control"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="PromoText">Promo text</label>
            <div class="col-sm-5">
                <textarea asp-for="PromoText" class="form-control" rows="3" style="height:100%"> </textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Image">Image</label>
            <div class="col-sm-5">
                <div class="custom-file input-group">
                    <input asp-for="Image" class="custom-file-input" />
                    <label class="custom-file-label" for="Image">Choose file</label>
                </div>
            </div>
        </div>
    </fieldset> 

    <fieldset>
        <legend class="w-auto">Manager</legend>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="ManagerName">Name</label>
            <div class="col-sm-5">
                <input asp-for="ManagerName" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="ManagerPhoneNumber">Phone number</label>
            <div class="col-sm-5">
                <input asp-for="ManagerPhoneNumber" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="ManagerEmail">Email</label>
            <div class="col-sm-5">
                <input asp-for="ManagerEmail" class="form-control" />
            </div>
        </div>

    </fieldset>
 
    <input type="submit" value="Add new performer" class="btn btn-lg btn-secondary"/>
</form>

<script>
            $('#Image').on('change',function(){
                //get the file name
                var fileName = $("#Image").val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            })
</script>