@model FestivalWebApplication.ViewModels.Accommodation.NewAccommodationVM;
@{
    ViewData["Title"] = "New";
}

<form asp-action="SaveNew" enctype="multipart/form-data" method="post">
    <fieldset>
        <legend class="w-auto">Accommodation</legend>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Name">Accommodation Name</label>
            <div class="col-sm-5">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="PhoneNumber">Phone Number</label>
            <div class="col-sm-2">
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Distance">Distance to Festival area</label>
            <div class="col-sm-2">
                <input asp-for="Distance" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Description">Description</label>
            <div class="col-sm-2">
                <input asp-for="Description" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="ProfileImage">Description</label>
            <div class="col-sm-2">
                <input type="file" asp-for="ProfileImage" />
            </div>
        </div>
    </fieldset>



    <input type="submit" value="Save new" class="btn btn-lg btn-secondary submit" />

</form>
