.lastItem {
    border-bottom: 1px solid #fafafa !important;
    margin-bottom: 5px !important;
}


.paginationText {
    color: #476A6F !important;
}

.ourActive {
    color: white !important;
    background-color: #7EB09B !important;
}


.addnew {
    margin-bottom: 10px;
}


#logoutButton, div .addnew, .submit {
    border: 1px solid #17a2b8 !important;
    border-radius: 0.25rem;
    background-color: #7EB09B !important;
}


#logout {
    margin-left: 8px;
}


div a .btn-group-lg > .btn, .btn-lg {
    font-size: 1rem;
}

.submit {
    margin-left: 18px;
}


#logoutButton, a.nav-link {
    color: white !important;
    font-size: 1rem;
}

/* End of buttons */

.container {
    background-color: #fafafa;
    border-radius: 5px;
    padding: 25px;
}



.visible {
    display: none;
}


.fa, .fa::before {
    height: 10px !important;
    width: 10px !important;
}

body {
    background: #e2e2e2;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    max-width: 1140px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

.wrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #476A6F;
    color: #fff;
    transition: all 0.3s;
    height: 100%;
    position: fixed;
}

    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
    }

        #sidebar.active .sidebar-header h3,
        #sidebar.active .CTAs {
            display: none;
        }

        #sidebar.active .sidebar-header strong {
            display: block;
        }

    #sidebar ul li a {
        text-align: left;
    }

    #sidebar.active ul li a {
        padding: 14px 10px;
        text-align: center;
        font-size: 0.85em;
    }

        #sidebar.active ul li a i {
            margin-right: 0;
            display: block;
            font-size: 1.8em;
            margin-bottom: 5px;
        }

    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    #sidebar.active .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar .sidebar-header {
        padding: 20px;
        text-align: center;
        background: #7EB09B;
    }

        #sidebar .sidebar-header strong {
            display: none;
            font-size: 1.8em;
        }

    #sidebar ul.components {
        padding: 15px 0;
    }


th {
    background-color: #7EB09B !important;
    border-color: #7EB09B !important;
}

.btn-success {
    background-color: #7EB09B !important;
    border-color: #7EB09B !important;
    color: #fff;
}

.btn-danger {
    background-color: #d21F3C !important;
    border-color: #d21F3C !important;
}

#sidebar ul li a {
    padding-left: 15px;
    padding: 10px;
    display: block;
}

    #sidebar ul li a:hover {
        color: #7EB09B;
        background: #fff;
    }

    #sidebar ul li a i {
        margin-right: 10px;
    }

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #7EB09B;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #7EB09B;
}



a.article,
a.article:hover {
    background: #7EB09B !important;
    color: #fff !important;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-left: 250px;
}

fieldset, form {
    padding: 20px;
}

form {
    width: 60%;
    margin: 0 auto;
}

#sidebarCollapse {
    background: #7EB09B !important;
    padding-right: 16px !important;
}


/*New Page - Accommodation*/

.newLabel {
    font-weight: 600 !important;
    border-bottom: 3px solid #e2e2e2;
    margin-bottom: 15px;
}

.newRow {
    margin-bottom: 20px;
}

/* Detail Page - Accommodation*/

.detailName {
    border-bottom: 3px solid #e2e2e2;
    margin-bottom: 30px;
}

.detailLabel {
    font-weight: 600;
    border-bottom: 2px solid #e2e2e2 !important;
}

.accImage {
    width: 300px;
    height: auto;
    border: 3px solid #e2e2e2;
}

.imageDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopitemImage {
    width: 80%;
    height: 80%;
    border: 3px solid #e2e2e2;
}

.detailData {
    width: auto;
    margin-left: 10px;
}

.detailRow {
    padding-left: 15px;
}

.detailButtons {
    margin-top: 20px;
}

/*.item {
    padding-left: 10px;
}*/
.linkItem {
    padding-left: 15px !important;
}

#sidebar.active .linkItem {
    padding-left: 9px !important;
    padding-bottom: 23px !important;
}

.danFestivala {
    font-size: larger;
    text-align: center;
    background-color: #8b49fc !important;
    border: none !important;
}
