@{
    ViewData["Title"] = "Home Page";
}
<style>

    .fullContent {
        width: 600px;
        height: 600px;
        background: url('images/uc.png');
        background-position: center center;
        background-size: cover;
        margin: 0 auto;
    }
</style>
<div class="fullContent">
</div>
