@using Festival.Web.ViewModels.TicketType;
@model List<TicketsVM>
@{
    ViewData["Title"] = "Tickets";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Pricing Table Section Start -->
<section id="pricing" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title wow fadeInUp animated" data-wow-delay="0s" style="visibility: visible;-webkit-animation-delay: 0s; -moz-animation-delay: 0s; animation-delay: 0s;">Take a look at Our Pricing</h2>
            </div>
            @foreach (var x in Model)
            {
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="pricing-table wow fadeInLeft animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                        <div class="table-icon">
                            @{
                                switch (x.Tier)
                                {
                                    case 1:
                                        <i class="icon-diamond"></i>
                                        break;
                                    case 2:
                                        <i class="icon-earphones"></i>
                                        break;
                                    case 3:
                                        <i class="icon-music-tone-alt"></i>
                                        break;
                                    case 4:
                                        <i class="icon-music-tone"></i>
                                        break;
                                    default:
                                        <i class="icon-heart"></i>
                                        break;
                                }
                            }

                        </div>
                        <h3>@x.Name</h3>
                        <span>@x.Description</span>
                        <div class="price">
                            <h4>@x.Price KM</h4>
                        </div>
                        <div class="button-area">
                            <a asp-controller="Ticket" asp-action="Buy" class="btn btn-common">Buy Now</a>
                        </div>
                    </div>
                </div>
            }

           
        </div>
    </div>
</section>
<!-- Pricing Table Section End -->