@model FestivalWebApplication.ViewModels.TicketType.TicketTypeVM;
@{
    ViewData["Title"] = "New";
}

    <form asp-action="SaveNew" enctype="multipart/form-data" method="post">
        <fieldset>
            <legend class="w-auto">Ticket Type</legend>
            <input style="display: none" asp-for="Id" />
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="Name">Name</label>
                <div class="col-sm-5">
                    <input asp-for="Name" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="Price">Price ($)</label>
                <div class="col-sm-2">
                    <input asp-for="Price" class="form-control" />
                </div>
            </div>
        </fieldset>

        <input type="submit" value="Add new ticket type" class="btn btn-lg btn-secondary" />

    </form>
