@model Festival.Web.ViewModels.TicketType.NewTicketTypeVM;
@{
    ViewData["Title"] = "New Ticket Type";
}

<style>




    .container {
        padding: 0 !important;
    }

    main.pb-3 {
        padding-bottom: 0 !important;
    }
</style>


<div class="formDiv" style="background-color:#e2e2e2;">
    <form class="formMy" style="border:2px dotted #fafafa; background-color:#fafafa" action="SaveNew" method="post">
        <fieldset>
            <div class="form-group newRow">
                <label for="Name" class="newLabel">Name :</label>
                <div>
                    <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group newRow">
                <label for="Description" class="newLabel">Description :</label>
                <div>
                    <input asp-for="Description" class="form-control" />
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group newRow">
                <label class="newLabel" for="Price">Price (KM) :</label>
                <div>
                    <input asp-for="Price" class="form-control col-4" />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group newRow">
                <label class="newLabel" for="Tier">Tier :</label>
                <div>
                    <input asp-for="Tier" class="form-control col-4" />
                </div>
                <span asp-validation-for="Tier" class="text-danger"></span>
            </div>
        </fieldset>
        <div class="btn-group">
            <a style="margin-right:5px;" asp-controller="TicketType" asp-action="List" class="btn btn-info active" role="button" aria-pressed="true">
                Back
                <i class="fa fa-undo"></i>
            </a>
            <input type="submit" value="Save new" class="btn btn-lg btn-secondary submit ml-1" />
        </div>

    </form>
</div>
