@model FestivalWebApplication.ViewModels.Stage.EditStageVM;
@{
    ViewData["Title"] = "New";
}

    <form asp-action="Save" enctype="multipart/form-data" method="post">
        <input asp-for="Id" hidden />

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Name">Name</label>
            <div class="col-sm-5">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Capacity">Capacity</label>
            <div class="col-sm-2">
                <input asp-for="Capacity" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Sponsor">Sponsor</label>
            <div class="col-sm-5">
                <select asp-items="@Model.Sponsors" asp-for="SponsorId" class="form-control">
                </select>
            </div>
        </div>


        <input type="submit" value="Save changes" class="btn btn-lg btn-secondary" />
    </form>
