@model FestivalWebApplication.ViewModels.Performance.EditPerformanceVM;
@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Save" enctype="multipart/form-data" method="post">
    
    <input asp-for="ID" hidden />
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="Start">Start</label>
        
        <div class="col-sm-6">
            <input asp-for="Start" class="form-control" />
        </div>
        <span asp-validation-for="Start" class="text-danger"></span>    
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="Performer">Performer</label>
        <div class="col-sm-6">
            <select asp-items="@Model.Performers" asp-for="PerformerID" class="form-control">
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="Stage">Stage</label>
        <div class="col-sm-6">
            <select asp-items="@Model.Stages" asp-for="StageID" class="form-control">
            </select>
        </div>
    </div>

    <input type="submit" value="Edit Performance" class="btn btn-lg btn-secondary" />
</form>
