@model FestivalWebApplication.ViewModels.Performance.NewPerformanceVM;
@{
    ViewData["Title"] = "New Performance";
}



<style>








    .container {
        padding: 0 !important;
    }

    main.pb-3 {
        padding-bottom: 0 !important;
    }
</style>

<div class="formDiv" style="background-color:#e2e2e2;">
    <form class="formMy" style="border:2px dotted #fafafa; background-color:#fafafa" asp-action="SaveNew" enctype="multipart/form-data" method="post">
        <fieldset>
            <div class="form-group newRow">
                <label class="newLabel" for="Performer">Performer :</label>
                <div>
                    <select asp-items="@Model.Performers" asp-for="PerformerID" class="form-control col-6">
                    </select>
                </div>
            </div>

            <div class="form-group newRow">
                <label class="newLabel" for="Performer">Stage :</label>
                <div>
                    <select asp-items="@Model.Stages" asp-for="StageID" class="form-control col-6">
                    </select>
                </div>
            </div>

            <div class="form-group newRow">
                <label for="Start" class="newLabel">Start date :</label>
                <div>
                    <input asp-for="Start" class="form-control col-5" />
                </div>
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>


            <div class="clearfix"></div>
        </fieldset>

        <input type="submit" value="Save New" class="btn btn-lg btn-secondary submit" />

    </form>
</div>
